* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btn-color: white;
  --btn-bg: hsl(194, 83%, 41%);
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  justify-items: center;

  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-color: grey;
}

.header {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;

  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: white;
}

.header > h1 {
  grid-column: 2 / 3;
}

.header > p {
  grid-column: 2 / 3;
}

.controls-sound {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: end;

  display: flex;
  gap: 0.2rem;
  padding: 1rem;
}

.btn-music,
.btn-sound {
  border: none;
  border-radius: 50%;
  padding: 0.6rem;
  color: var(--btn-color);
  background-color: var(--btn-bg);
  transition: background-color 0.3s ease;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
  column-gap: 1rem;

  padding: 1rem;
  height: 100%;
  max-width: 1000px;
}

.box-player1,
.box-player2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  min-width: 200px;
  background-color: white;
}

.box-player1 {
  grid-column: 1 / 2;
}

.box-player2 {
  grid-column: 2 / 3;
}

.box-player-1-header,
.box-player-2-header {
  color: hsl(194, 83%, 41%);
}

.box-player1-mid-section,
.box-player2-mid-section {
  /* border-top: 1px solid black; */
}

.player1-label-name,
.player2-label-name {
}

.player1-input,
.player2-input {
  padding: 0.3rem;
  width: 70%;
}

.player1-button,
.player2-button {
  border: none;
  padding: 0.4rem 1rem;
  color: var(--btn-color);
  background-color: var(--btn-bg);
  transition: background-color 0.3s ease;
}

.box-player1-bottom-section,
.box-player2-bottom-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 1rem;
}

.player1-wins,
.player1-draws,
.player1-lost,
.player2-wins,
.player2-draws,
.player2-lost {
  display: flex;
  gap: 0.2rem;
}

.player1-wins-label,
.player2-wins-label {
  color: hsl(0, 0%, 35%);
}

.player1-draws-label,
.player2-draws-label {
  color: hsl(0, 0%, 35%);
}

.player1-lost-label,
.player2-lost-label {
  color: hsl(0, 0%, 35%);
}

.player1-wins-value,
.player2-wins-value {
}

.player1-draws-value,
.player2-draws-value {
}

.player1-lost-value,
.player2-lost-value {
}

/* gameboard */
.board {
  grid-row: 1 / 2;
  grid-column: 1 / 3;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  min-width: 250px;
  max-width: 300px;
}

.btn {
  aspect-ratio: 1 / 1;
  font-size: 3rem;
  min-width: 50px;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: background-color 0.3s ease;
}

.box-game {
  grid-column: 1 / 3;

  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding: 1rem;
  height: 100%;
  width: 100%;
  color: hsl(194, 83%, 41%);
  background-color: white;
}

.controls-game {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100px;
}

.btn-restart,
.btn-new-game {
  min-width: 95px;
  border: none;
  padding: 0.8rem;
  color: var(--btn-color);
  background-color: var(--btn-bg);
  transition: background-color 0.3s ease;
}

.game-info-text {
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

.box-reference {
  /* border: 2px solid red; */
}

.footer {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

.footer-header {
}

.footer-ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.footer-li > a {
  color: white;
  transition: color 0.3s ease;
}

.img-sololearn {
  height: 30px;
  width: 30px;
}

@media (min-width: 768px) {
  body {
    border: 1px solid rgb(133, 20, 133);
  }

  .container {
    grid-template-rows: auto auto;
  }

  .board {
    grid-column: 1 / 2;
    width: 400px;
  }

  .box-game {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 400px;
    height: 200px;
  }

  .controls-game {
    flex-direction: row;
    max-width: 100%;
  }

  .btn-restart {
  }

  .btn-new-game {
  }

  .box-player1,
  .box-player2 {
    max-width: 400px;
  }
}

@media (min-width: 1200px) {
  body {
    border: 5px solid rgb(16, 28, 197);
  }
}

@media (hover: hover) {
  .footer-li > a:hover {
    color: hsl(209, 83%, 44%);
  }

  .btn:hover {
    background-color: rgb(214, 211, 213);
    cursor: pointer;
  }

  .player1-button:hover,
  .player2-button:hover {
    background-color: hsl(219, 75%, 34%);
    cursor: pointer;
  }

  .btn-restart:hover,
  .btn-new-game:hover,
  .btn-music:hover,
  .btn-sound:hover {
    background-color: hsl(219, 75%, 34%);
    cursor: pointer;
  }

  .player1-input,
  .player2-input {
    cursor: pointer;
  }
}
